.slider .thumb {
    -fx-background-color: transparent;
    -fx-background-image: url("slider.png");

}
.slider .thumb:hover {
    -fx-background-image: url("slider-hover.png");
}

.button, .toggle-button{
	 -fx-background-color: transparent; 
	 -fx-background-radius: 0,0,0;
	 
	 }
	 
#play {
	
	-fx-graphic: url("play-icon.png");
	-fx-background-repeat: no-repeat;
 	 -fx-background-position: center;
 	 -fx-padding: 3px;
}
#pause {
	
	-fx-graphic: url("pause-icon.png");
	-fx-background-repeat: no-repeat;
 	 -fx-background-position: center;
 	 -fx-padding: 3px;
}
#play:hover {
	
	-fx-graphic: url("play-hover-icon.png");
	-fx-background-repeat: no-repeat;
 	 -fx-background-position: center;
 	 -fx-padding: 3px;
}
#stop {
	
	-fx-graphic: url("stop-icon.png");
	-fx-background-repeat: no-repeat;
 	 -fx-background-position: center;
 	 -fx-padding: 3px;
}

#stop:hover {
	
	-fx-graphic: url("stop-hover-icon.png");
	-fx-background-repeat: no-repeat;
 	 -fx-background-position: center;
 	 -fx-padding: 3px;
}
#playlist {
	
	-fx-graphic: url("playlist-icon.png");
	-fx-background-repeat: no-repeat;
 	 -fx-background-position: center;
 	 -fx-padding: 3px;
}

#playlist:hover {
	
	-fx-graphic: url("playlist-hover-icon.png");
	-fx-background-repeat: no-repeat;
 	 -fx-background-position: center;
 	 -fx-padding: 3px;
}
#volume
{
	
	-fx-graphic: url("volume-icon.png");
	-fx-background-repeat: no-repeat;
 	 -fx-background-position: center;
 	 -fx-padding: 3px;
}

#volume:hover
{
	
	-fx-graphic: url("volume-hover-icon.png");
	-fx-background-repeat: no-repeat;
 	 -fx-background-position: center;
 	 -fx-padding: 3px;
}
#volume:selected
{
	
	-fx-graphic: url("volume-mute-icon.png");
	-fx-background-repeat: no-repeat;
 	 -fx-background-position: center;
 	 -fx-padding: 3px;
}
#close{
	 -fx-background-color: transparent; 
	 -fx-background-radius: 0,0,0;
	 -fx-graphic: url("close-icon.png");
	 
	 }
#add{
	 -fx-background-color: transparent; 
	 -fx-background-radius: 0,0,0;
	 -fx-background-repeat: no-repeat;
 	 -fx-background-position: center;
 	 -fx-padding: 3px;
	 -fx-graphic: url("add-icon.png");
	 
	 }
#delete{
	 -fx-background-color: transparent; 
	 -fx-background-radius: 0,0,0;
	 -fx-background-repeat: no-repeat;
 	 -fx-background-position: center;
 	 -fx-padding: 3px;
	 -fx-graphic: url("delete-icon.png");
	 
	 }